input{
  border:  none;
}
@media (max-width: 576px) {
    .main{
        width:90%;
    }
     .cont{
      width: 90%;
    }
      .fsize{
        font-size: 12px;
    }
     .red{
       font-size: 14px;
    }
    .hr{
      width:100%;
      margin: 20px auto 0;
    }
   
}
@media (min-width: 576px) {
    .main{
        width:80%;
    }
     .cont{
      width: 70%;
    }
     .from2{
      width:72%;
    }
    .fsize{
      font-size: 12px;
    }
     .red{
       font-size: 14px;
    }
    .hr{
      width:90%;
      margin: 30px auto 0;
    }
}
@media (min-width: 768px) {
    .main{
        width:80%;
    }
     .cont{
      width: 60%;
    }
    .from2{
      width:60%;
    }
    .fsize{
      font-size: 14px;
    }
     .red{
       font-size: 16px;
    }
    .hr{
      width:80%;
      margin: 40px auto 0;
    }
    
}

@media (min-width: 992px) {
    .main{
        width:50%;
    }
    .cont{
      width: 60%;
    }
    .from2{
      width:70%;
    }
    .fsize{
      font-size: 13px;
    }
    .red{
       font-size: 22px;
    }
    .hr{
      width:80%;
      margin: 50px auto 0;
    }
}
.main{
    border: 1px solid transparent;
    box-shadow:0 5px 10px #ccc;
    margin: 20px auto;
}
.cont{
    padding-top: 10px;
    margin: 0 auto;
}
.form-horizontal .form-group{
  margin: 0 0 10px;
}
.border{
     border: 1px solid #cccccc;
     border-radius: 4px;
}
.lborder{
  border: 1px solid #cccccc;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border-right: none;
}
.rborder{
  border: 1px solid #cccccc;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px
}
.from1 input{
  padding:5px 0 5px 8px;
  width:100%;
}
.prompt{
  background: #f2f2f2;
  height: 100%;
  padding:5px 0;
  text-align: center
}
.text{
  background-color: #f3fbfe;
  font-size: 16px;
  text-indent: 2em;
  line-height: 200%;
}
.btn1{
    display: inline-block;
    width:100%;
    line-height: 20px;
    text-align: center;
    background: #38b03f;
    color: #000;
    margin: 0 auto;
}
.red{
    color: red;
    text-align: center;
    width:40%;
    border-bottom: 1px solid red;
    margin: 20px auto;
    padding-bottom: 5px;
}
.hr{
  border: 1px solid #ccc;
}

.pl-0{
    padding: 0;
}
.from2{
  margin: 0 auto;
}
.from2 .control-label{
  text-align: center;
  padding-bottom: 7px;
  font-weight: 100;
  padding-top: 0;
  padding-left: 0px;
  padding-right: 0px;
}
.labelbg{
  /*background: #f2f2f2;*/
  width:46px;
   height: 34px;
  line-height: 34px;
  text-align: center;
  margin-right: 10px;
  /*border-radius: 4px;
  border: 1px solid #cccccc;
  border-right: none;*/
  
}
.labelbg1{
  /*background: #f2f2f2;*/
  width:46px;
  height: 34px;
  line-height: 34px;
  text-align: center;
  margin-right: 10px;
  /*border-radius: 4px;
  border: 1px solid #cccccc;
  border-right: none;*/
}
.labelbg3{
  /*background: #f2f2f2;*/
  width:70px;
  height: 34px;
  line-height: 34px;
  text-align: center;
  margin-right: 10px;
  /*border-radius: 4px;
  border: 1px solid #cccccc;
  border-right: none;*/
  
}
.labelbg2{
  /*background: #f2f2f2;*/
  width:46px;
  height: 34px;
  padding-top: 0;
  line-height: 34px;
  text-align: center;
  /*margin-right:15px;*/
  /*border-radius: 4px;
  border: 1px solid #cccccc;
  border-right: none;*/
  
}
.radio-inline{
  padding-left: 0px;
}
.none>div{
 float: left;
}
#height1,#work{
  padding: 8px 12px 7px;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  /*border-left: none;*/
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px
}

input[type="radio"] {
    position: absolute;
    clip: rect(0, 0, 0, 0);
}
input[type="radio"]+span::before{
      content: "\a0"; /*不换行空格*/
      display: inline-block;
      vertical-align: middle;
      font-size: 18px;
      width: 15px;
      height:15px;
      margin-right: 3px;
      border-radius: 50%;
      border: 1px solid #ccc;
      text-indent: .15em;
      line-height: 1;
}
input[type="radio"]:checked + span::before {
    background-color: blue;
    background-clip: content-box;
    border: 2px solid blue;
    padding: 3px
}
.danger{
  color: red;
  margin-top: 35px;
}
.disnone{
display: none
}
#button2{
  margin:20px 0 40px;
}
#height1,#work{
appearance:none;
-moz-appearance:none;
-webkit-appearance:none; 
background: url("http://ourjs.github.io/static/2015/arrow.png") no-repeat scroll right center transparent;
}